@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('Gilroy-ExtraBold.eot');
    src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ExtraBold.woff') format('woff'),
    url('Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
  
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    color: #000000;
  
    background-color: #f7e296;
}
  
.site-navigation,
.user-navigation,
.site-navigation-catalog,
.buy-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a,
.site-navigation-catalog a,
.buy-navigation a {
    color: #000000;
}

.site-navigation {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: auto;
    font-weight: 700;
    text-transform: uppercase;
}

.buy-navigation,
.user-navigation,
.site-navigation-catalog {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
}

.container a {
    color: #000000;
}

.features-device p:first-of-type {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    font-weight: 700;
}

.features-device p:nth-of-type(2) {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: auto;
    font-weight: 700;
}

.features-device a {
    font-size: 18px;

    background-color: #f0c52e;
}

.data-description {
    font-size: 13px;
    line-height: 20px;
}

.data-property {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: auto;
    font-weight: 300;    
}

.main-catalog img {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
}

.main-catalog img:hover {
    background-color: #f0c52e;
}

.main-catalog a:focus {
    background-color: #f0c52e;
    opacity: 0.3;
}

.service {
    background-color: #e5e5e5;
}

.service-choise {
    text-transform: uppercase;   
}

.service-choise a,
.info a,
.button-write,
.contact-fotm-submit {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: auto;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f0c52e;
}

.service-choise a:focus {
    color: #f7e184;

    background-color: #000000;
}

.service h2,
.info h2,
.contact h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: auto;
    font-weight: 700;  
}

.main-catalog,
.service-choise {
    list-style: none;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: auto;
    font-weight: 700;  
}

.logos {
    margin-top: 94px;
    margin-bottom: 82px;
    font-size: 0;
}
  
.logos a {
    width: 260px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.logos a:nth-of-type(1) {
    padding-left: 0;
}
  
.logos a:nth-of-type(4) {
    padding-right: 0;
}
  
.logos img {
    opacity: 0.2;
}
  
.logos img:hover {
    opacity: 1;
    height: 100px;
    width: 0;
    padding-left: 260px;
}
  
.dji img:hover {
    background-image: url("../img/logo-1.jpg");
}
  
.sp-gadgets img:hover {
    background-image: url("../img/logo-2.jpg");
}
  
.gopro img:hover {
    background-image: url("../img/logo-3.jpg");
}
  
.vive img:hover {
    background-image: url("../img/logo-4.jpg");
}

.logistics {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700; 
}

.contact-form{
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.main-footer {
    background-color: #464646;
}

.site-navigation-footer,
.user-navigation-footer,
.site-navigation-footer,
.buy-navigation-footer,
.footer-social-item,
.breadcrumbs,
.catalog-item,
.pagination-item {
    list-style: none;
}

.site-navigation-footer a,
.user-navigation-footer a,
.site-navigation-footer a,
.buy-navigation-footer a,
.footer-social-item a {
    color: #ffffff;
}

.user-navigation-footer img,
.buy-navigation-footer img {
    color: #ffc600;
}

.site-navigation-footer {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: auto;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.buy-navigation-footer,
.user-navigation-footer {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
}

.footer-conditions,
.footer-social {
    color: #ffffff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.filters,
.sorting,
.pagination-list,
.basket {
    background-color: #f2f2f2;
}

.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: auto;
    font-weight: 700; 
}

.breadcrumbs {
    font-size: 14px;
    line-height: 36px;
}

.filter-item {
    margin: 0;
    padding: 0;
    
    border: none;
    
    
    /* Для демонстрации */
    width: 270px;
    margin: 10px auto; 
}
  
.range-filter {
    width: 270px;
    
}
  
.filter-item legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 200px;
    border-top: 2px solid #000000;
}
  
.range-controls {
    position: relative;
    
    
    margin-bottom: 15px;
    padding-top: 40px;
    padding-right: 20px;
        
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 2px;
  
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 0;
}
  
.range-controls .toggle-max {
    left: 110px;
}
  
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 22.27px;
    font-weight: 300;
}
  
.price-controls input {
    width: 50px;
    
    
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 22.27px;
    font-weight: 300;
    
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}

.filters h2,
.sorting h2,
.pagination-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: auto;
    font-weight: 700;
    text-transform: uppercase;
}

.filters h3,
.catalog-category,
.filters-form input[type="submit"],
.basket-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: auto;
    font-weight: 700;
}

.filters-form input[type="submit"],
.basket-button {
    background-color: #f0c52e;
}

.sorting-item li {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    list-style: none;
}

.filters-form input[type="checkbox"],
.filters-form input[type="radio"] {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;

    opacity: 0.5;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
    opacity: 0.8;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    background-color: #ffffff;
    border: 2px solid #f0c52e;

    opacity: 1;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: auto;
    font-weight: 300;
}

.basket-button {
    text-transform: uppercase;
}

.compare-button {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
} 

.button:hover,
.main-header-logo:hover,
.user-navigation li:hover,
.buy-navigation a:hover,
.site-navigation a:hover,
.site-navigation > li:first-child:hover,
.pagination-item a:hover,
.site-navigation-footer a:hover,
.user-navigation-footer a:hover,
.buy-navigation-footer a:hover,
.main-footer-logo:hover {
    opacity: 0.6;
}

.button:focus,
.main-header-logo:focus,
.user-navigation li:focus,
.buy-navigation a:focus,
.site-navigation a:focus,
.site-navigation li:first-child:focus,
.pagination-item a:focus,
.site-navigation-footer a:focus,
.user-navigation-footer a:focus,
.buy-navigation-footer a:focus,
.main-footer-logo:focus {
    opacity: 0.3;
}

.footer-social-item a {
    opacity: 0.3;
}

.footer-social-item a:hover {
    opacity: 1;
}

.footer-social-item a:focus {
    opacity: 0.1;
}
 
.footer-link:hover path {
    fill: #ffc600;
}

/* Сеточные стили*/

html,
body {
    min-width: 1200px;
    min-height: 2795px;
}

.main-header {
   /* Временно для сетки */
    min-height: 297px;
    margin-bottom: 55px;
    
}

.main-navigation {
    /* Временно для сетки */
    min-height: 297px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 55px;
    

    
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
    
}

.main-header-logo {
    width: 164px;
    height: 36px;
    align-self: flex-start;
    
    /* Временно для сетки */
    display: block;
    position: absolute;
    top: 20px;
    left: 80px;

    background: rgba(59, 45, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.user-navigation-wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 40px;
    margin-left: 60px;
    justify-content: flex-start;
    list-style: none;
    
    /* Временно для сетки */
    min-height: 70px;

    background: rgba(59, 45, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}
  
.site-navigation {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    display: flex;
    justify-content: flex-start;    
    list-style: none;
    
    
    /* Временно для сетки */
    min-height: 70px;

    background: rgba(59, 45, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.container {
    min-width: 1160px;
    margin-left: 80px; 

    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.features {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 105px;

    background: rgba(59, 45, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}



.main-catalog {
    margin: 0;
    padding: 0;
    display: flex;
    
    background: rgba(59, 45, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
    margin-bottom: 85px;
    justify-content: space-between;
}

.service,
.logos,
.index-columns,
.footer-container {
    margin: 0;
    padding: 0;
    display: flex;
    

    background: rgba(59, 45, 255, 0.2);
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.service {
    margin-bottom: 95px;
}

.logos {
    margin-bottom: 90px;
    justify-content: space-around;
}

.contact {
    margin-bottom: 95px;
}

.page-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  
    /* Временно для сетки */
    min-height: 42px;

    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}
  
.breadcrumbs {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  
    /* Временно для сетки */
    min-height: 24px;

    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.sorting {
    width: 100%;

    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.filters {
    width: 270px;
    
    /* Временно для сетки */
    min-height: 800px;

    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}
  
.catalog {
    width: 760px;
    
  
    /* Временно для сетки */
    min-height: 980px;

    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.catalog-columns {
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 0 2px rgb(45, 76, 255);
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}