@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"), 
        url("../fonts/opensanslight.woff2") format("woff2"), 
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"), 
        url("../fonts/opensans.woff2") format("woff2"), 
        url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
    width: 100%;
    min-width: 1200px;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.15px;
  
    color: #000000;

    width: 100%;
    min-width: 1200px;

    background-color: #ffffff;
    
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
    
    text-transform: uppercase;
    text-decoration: none;
    
    background: linear-gradient(to bottom, transparent 0px, transparent 16px, 
        #f0c52e 16px, #f0c52e 24px, transparent 24px, transparent 40px);
    border: none;
    
    cursor: pointer;
    
    width: 220px;
    height: 40px;
}

.btn:hover,
.btn:focus {
    background: #f0c52e;
} 

.btn:active {
    color: rgba(0, 0, 0, 0.3);
    
    background: #f0c52e;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header {
    margin-top: 40px;
  
} 

.main-header-wrapper-index {
    padding: 33px 60px 165px;
        
    background-color: #f7e296;
}

.main-header-wrapper {
    padding: 33px 60px 52px;
    
    background-color: #f7e296;
}

.header-logo {
    position: absolute;
    top: 23px;
}

.logo {
    cursor: pointer;
}

.logo:hover,
.logo:focus {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.user-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;
}

.search-form {
    position: relative;
    
    width: 440px;
    margin-right: 100px;
}

.search-form input {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    opacity: 0.3;
    
    background-color: transparent;
    border: 2px solid transparent;
    
    width: 100%;
    
    padding: 5px 100px 5px 40px;
    
    outline: none;
}

.search-form input:hover {
    opacity: 0.6;
}

.search-form input:focus {
    opacity: 1;
    
    border-bottom: 2px solid #000000;
}

.search-icon {
    content: "";
    
    position: absolute;
    bottom: 18px;
    left: 3px;
    
    background: url("../img/navigation/search.svg") 0 0 no-repeat;
    
    width: 20px;
    height: 16px;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    
    opacity: 0;
    font: inherit;
    line-height: 36px;
    
    background-color: transparent;
    border: 2px solid #000000;

    margin: 0;
    padding: 5px 20px;
}

.btn-search:hover {
    color: #ffffff;
    background-color: #000000;
}

.btn-search:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.search-form input:focus + .btn-search {
    opacity: 1;
    cursor: pointer;
}

.header-user-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    width: 260px;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-user-action li {
    position: relative;
    
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.header-user-action a {
    color: #000000;
    line-height: 36px;
    
    text-decoration: none;
}

.header-user-action a:hover,
.header-user-action a:focus {
    opacity: 0.6;
}

.header-user-action a:active {
    opacity: 0.3;
}

.header-user-action .login-link {
    padding-left: 25px;
}

.product-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 220px;

    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.product-block li {
    position: relative;
    text-align: end;
    width: 100px;
    padding-left: 20px;
}



.login-link:before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 0px;
    
    background: url("../img/navigation/user.svg") 0 0 no-repeat;
    
    width: 13px;
    height: 12px;
}

.login-exit {
    opacity: 0.3;
}

.login-exit.disabled {
    display: none;
}

.product-block .compare-goods:before {
    content: "";
    
    position: absolute;
    top: 4px;
    left: 10px;
    
    background: url("../img/navigation/compare.svg") 0 0 no-repeat;
    
    width: 10px;
    height: 10px;
}

.product-block .user-cart:before {
    content: "";
    
    position: absolute;
    top: 2px;
    left: 16px;
    
    background: url("../img/navigation/cart.svg") 0 0 no-repeat;
    
    width: 12px;
    height: 12px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.main-nav a {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
    
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
    opacity: 0.6;
}

.main-nav a:active {
    opacity: 0.3;
}

.catalog-nav {
    position: relative;
    width: 260px;
    
    margin: 0;
    margin-right: 260px;
    padding: 0;
    
    cursor: pointer;
}

.open-catalog {
    position: relative;
    width: 260px;
    height: auto;
    
    padding-right: 32px;
}

.open-catalog:after {
    content: "";
    
    position: absolute;
    top: 2px;
    right: 7px;
    
    background: url("../img/navigation/plus.svg") 0 0 no-repeat;
    
    width: 16px;
    height: 16px;
}

.catalog-nav:hover .submenu-catalog {
    display: block;
}

.submenu-catalog {
    display: none;
    
    position: absolute;
    top: 22px;
    left: -60px;
    z-index: 999;
    
    background-color: #f7e296;
    
    width: 1160px;
    height: 163px;
    
    padding: 22px 400px 30px 60px;
    margin: 0;
    
    list-style: none;
}

.submenu-catalog li {
    display: inline-block;
    vertical-align: baseline;
    
    width: 200px;

    padding: 0;
    margin: 0;
}

.submenu-catalog li:nth-child(3n+1) {
  margin-right: 35px;
}

.submenu-catalog li:last-child {
    display: block;
    margin-right: 440px;
}

.submenu-catalog a {
    display: block;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px;
    color: #000000;
    
    text-transform: none;
}

.services-nav {
    display: flex;
    justify-content: space-between;
    
    width: 500px;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.services-nav li:last-child {
    margin-left: 100px;
}

.services-nav .contacts {
    margin-right: -3px;
}

.slider {
    position: relative;
    z-index: 2;
    
    background: linear-gradient(to bottom, #f7e296 111px, #ffffff 111px);
    min-height: 595px;
    
    padding: 0px 60px 95px 31px;
}

*, :before, :after {
    box-sizing: inherit;
}

.container a {
    color: #000000;
}

.features-slider {
    position: relative;
    margin-top: -85px;
    margin-bottom: 105px;
}

.slider-controls {
    position: absolute;
    right: 10px;
    bottom: 170px;
    z-index: 100;
    width: 160px;
    height: 12px;
    text-align: center;
    font-size: 70px;
    transform: translateX(-30%);
}

.slider-controls i {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #000000; 
    cursor: pointer;
    
}

.slider-controls i::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 12px;
    height: 12px;
    
    background: #ffffff;
    
    border-radius: 50%;
}

.slider-controls .active::before {
    content: "";
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    
    width: 8px;
    height: 8px;
    margin: -4px;
    
    background-color: inherit;
    border: 2px solid #000000;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;    
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 60px; 
}

.slider-column1 {
    min-width: 440px;
    margin-left: 85px;
}

.slider-item:nth-child(3) .slider-column1 {
    min-width: 440px;
    margin-left: 30px;
}

.slider-column2 {
    width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

.slider-column2 p:first-of-type {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -10px;
    color: #ffffff;
    z-index: 0;
}

.slider-column2 p:nth-of-type(2) {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    padding-right: 120px;
    z-index: 10;
}

.slider-column2 p:nth-of-type(3) {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

.slider-column2 p:nth-of-type(2)::after {

    content: "";
    
    position: absolute;
    top: 10px;
    left: 0px;
    
    width: 100px;
    height: 10px;
    
    background-color: #ffffff;
}

.slider-item:nth-child(3) .slider-col2-tagline {
    margin: 0;
    padding: 0;
    width: 500px;
    margin-top: 55px;
    padding-right: 0;
    z-index: 10;
}

.slider-column2 a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    text-transform: uppercase; 
    margin: 0;
    padding: 0;
    width: 220px;
    text-align: center;
}

.slider-column2 .data {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    width: 430px;
    text-align: left;
}

.data-description {
    font-size: 13px;
    line-height: 20px;
}

.data-property {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 300;    
}

.main-catalog-wrapper {
    display: flex;
    width: 1160px;
}

.main-catalog,
.service-choise {
    list-style: none;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;  
}

.main-catalog {
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

.main-catalog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
}

.main-catalog li {
    width: 160px;
}

.main-catalog img {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
}

.main-catalog img:hover {
    background-color: #f0c52e;
}

.main-catalog a:focus {
    background-color: #f0c52e;
    opacity: 0.3;
}

.slider-services {
    min-height: 388px;
    
    background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
    
    padding-top: 71px;
}

.slider-services-wrapper {
    position: relative;
    
    display: flex;
    justify-content: space-between;
}

.slider-services-controls {
    position: relative;
    top: 10px;
}

.slider-services-controls:after {
    content: "";
    
    position: absolute;
    top: -80px;
    right: 0;
    width: 7px;
    height: 319px;
    
    background-color: black;
}

.service-slide {
    display: none;
    width: 880px;
    
    padding-left: 118px;
    padding-right: 60px;
    padding-bottom: 69px;
}

.service-slide-content {
    width: 446px;
}

.service-icon {
    position: relative;
    
    margin: 0;
    padding: 0;
}

.delivery-icon {
    top: 15px;
    right: 6px;
    
    display: block;
    
    background: url("../img/delivery.svg") center no-repeat;
    width: 136px;
    height: 164px;
}

.credit-icon {
    top: -8px;
    right: 11px;
    
    display: block;
    
    background: url("../img/credit.svg") center no-repeat;
    width: 156px;
    height: 188px;
}

.warranty-icon {
    top: -10px;
    right: -10px;
    
    display: block;
    
    background: url("../img/warranty.svg") center no-repeat;
    width: 171px;
    height: 195px;
}

.slider-services ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-services h3 {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 0.15px;
    color: #000000;
    
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
}

.slider-services p {
    color: #464646;
    line-height: 30px;
}

.btn-service {
    width: 160px;
    
    margin-bottom: 25px;
}

.btn-service:last-of-type {
    margin-bottom: 0;
}

#service-1:checked ~ .slider-services-controls .btn-service:nth-of-type(1),
#service-2:checked ~ .slider-services-controls .btn-service:nth-of-type(2),
#service-3:checked ~ .slider-services-controls .btn-service:nth-of-type(3) {
    justify-content: flex-start;
    
    color: #f7e184;
    background: #000000;
    width: 283px;
}

#service-1:checked ~ .slider-services-controls .btn-service:nth-of-type(1) {
    padding-left: 21px;
}

#service-2:checked ~ .slider-services-controls .btn-service:nth-of-type(2) {
    padding-left: 27px;
}

#service-3:checked ~ .slider-services-controls .btn-service:nth-of-type(3) {
    padding-left: 41px;
}

#service-1:checked ~ .slider-services-list #service-slide-1,
#service-2:checked ~ .slider-services-list #service-slide-2,
#service-3:checked ~ .slider-services-list #service-slide-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .service, */
.logos,
.index-columns,
.footer-container {
    margin: 0;
    padding: 0;
    display: flex;
}

.button-write,
.contact-fotm-submit {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f0c52e;
}

.info h2,
.contact h2 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 700;  
}

.logos {
    font-size: 0;
    margin-bottom: 90px;
    margin-top: 105px;
    justify-content: space-between;
}

.logos a {
    width: 260px;
}
  
.logos a:nth-of-type(1) {
    padding-left: 0;
}
  
.logos a:nth-of-type(4) {
    padding-right: 0;
}
  
.logos img {
    opacity: 0.2;
}
  
.logos img:hover {
    opacity: 1;
    height: 100px;
    width: 0;
    padding-left: 260px;
}
  
.dji img:hover {
    background-image: url("../img/logo-1.jpg");
}
  
.sp-gadgets img:hover {
    background-image: url("../img/logo-2.jpg");
}
  
.gopro img:hover {
    background-image: url("../img/logo-3.jpg");
}
  
.vive img:hover {
    background-image: url("../img/logo-4.jpg");
}

.index-columns {
    justify-content: space-between;
    margin-bottom: 95px;
}

.info,
.contact {
    display: flex;
    flex-direction: column;
    min-height: 570px;
}

.info {
    width: 480px;
}

.info a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase; 
}

.info p:first-of-type {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.info p:last-of-type {
    margin: 0;
    padding: 0;
}

.info .logistics {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    list-style: none;
}

.logistics {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700; 
}

.logistics-item {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 35px;
}

.logistics-item::before {
    content: "";
    
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 2;
    
    width: 8px;
    height: 8px;
    margin: -6px;
    
    background-color: inherit;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.info .info-button {
    margin: 0;
    padding: 0;
    margin-top: auto;
    width: 260px;
}

.contact {
    width: 560px;
}

.info h2,
.contact h2 {
    position: relative;
    margin: 0;
    margin-bottom: 0;
    margin-top: 40px;
    padding: 0;
}

.info h2::after,
.contact h2::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 80px;
    height: 10px;
    background-color: #000000;
}

.contact p {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 35px;
}

.contact a {
    width: 260px;
    margin: 0;
    padding: 0;
    margin-top: auto;
}

.contact-form{
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.contact img {
    margin-bottom: 80px;
}

.contact .button-write {
    width: 260px;
}

.main-footer {
    background-color: #464646;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;
    width: 1160px;
    min-height: 325px;
}

.footer-user {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}

.main-footer-logo {
    margin-right: auto;
}

.site-navigation-footer,
.user-navigation-footer,
.site-navigation-footer,
.buy-navigation-footer,
.footer-social-item,
.breadcrumbs,
.catalog-item,
.pagination-item {
    list-style: none;
}

.site-navigation-footer a,
.user-navigation-footer a,
.site-navigation-footer a,
.buy-navigation-footer a,
.footer-social-item a {
    color: #ffffff;
}

.user-navigation-footer img,
.buy-navigation-footer img {
    color: #ffc600;
}

.site-navigation-footer {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.buy-navigation-footer,
.user-navigation-footer {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
}

.user-navigation-footer {
    margin: 0;
    padding-left: 10px;
    margin-top: 10px;
    width: 80px;
}

.buy-navigation-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
}

.footer-conditions {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 45px;
}

.site-navigation-footer {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    width: 430px;
    padding-right: 5px;
}

.footer-conditions p {
    margin: 0;
    padding: 0;
    line-height: 2;
}

.footer-conditions p:first-of-type {
    margin-right: 160px;
}

.footer-conditions p:last-of-type {
    margin-left: auto;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 0;
    padding: 0;
    margin-top: 65px;
}

.footer-social-item{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0;
    padding: 0;
    width: 160px;
    line-height: 15px;
}

.footer-social-item::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: -500px;
    width: 80px;
    height: 10px;
    background-color: #f0c52e;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    margin-left: 1130px;
    margin-top: -35px;
    width: 30px;
}

.footer-conditions,
.footer-social {
    color: #ffffff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.filters,
.sorting,
.pagination-list,
.basket {
    background-color: #f2f2f2;
}

.page-title {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 700; 
    margin: 0;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 60px;
    padding: 0;
    min-height: 42px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-bottom: 20px;    
    list-style: none;
    font-size: 14px;
    line-height: 36px;    
    min-height: 24px;
}

.breadcrumbs li {
    position: relative;
    margin-right: 42px;
    opacity: 0.3;
}

.breadcrumbs li::after {
    
    content: "";
    position: absolute;
    top: 16px;
    right: -23px;
    width: 5px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #b8a974;
}

.breadcrumbs li::before {    
    content: "";
    position: absolute;
    top: 18px;
    right: -23px;
    width: 5px;
    transform: rotate(-45deg);
    height: 2px;
    background-color: #b8a974;
}

.breadcrumbs-current::after,
.breadcrumbs-current::before {
    display: none;
}

.filter-title {
    background-color: #dbdbdb;
        
    width: 268px;
    
    margin: 0;
    margin-left: 60px;
    padding-top: 24px;
    padding-right: 68px;
    padding-bottom: 26px;
}

.catalog-content .container {
    display: flex;
}

.catalog-content {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    
    background: #efefef;
}

.catalog-filters {
    background-color: #efefef;
        
    width: 268px;
    
    margin: 0;
    margin-left: 60px;
    /* padding-top: 70px; */
    padding-right: 68px;
    padding-bottom: 26px;
}

.catalog-filters h2 {
    margin-top: 25px;
    margin-bottom: 80px;
    display: inline-block;
}

.catalog-filters fieldset {
    border: none;
    
    margin: 0;
    margin-bottom: 33px;
    
    padding: 0;
}

.catalog-filters legend {
    position: relative;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    
    padding-top: 14px;
}

.filter-price legend {
    padding-bottom: 25px;
}

.filter-color legend {
    padding-bottom: 20px;
}

.filter-bluetooth legend {
    padding-bottom: 20px;
}

.catalog-filters legend:before {
    content: "";
    
    position: absolute;
    top: 0;
    
    width: 200px;
    height: 2px;
    
    background-color: #000000;
}

.catalog-filters ul {
    list-style: none; 
    
    margin: 0;
    padding: 0;
}

.catalog-filters label {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.15px;
    
    cursor: pointer;
}

/*Ползунки*/

.range-controls {
    position: relative;
}

.range-controls .scale {
    width: 200px;
    height: 2px;
    
    margin-top: 10px;
    margin-bottom: 20px;

    background: #dbdbdb;
}

.range-controls .bar {
    width: 60%;
    height: 2px;

    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;
    
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #d4d4d4;

    border: 8px solid #ffffff;
    border-radius: 50%;
    
    box-shadow: 0 2px 1px 0 #cfcfcf;
    
    cursor: pointer;
}

.range-controls .toggle-min {
  left: -8px;
}

.range-controls .toggle-max {
  left: 106px;
}

.price-controls {
    color: rgba(0, 0, 0, 0.25);
}

.price-controls .min-price {
    margin-left: 0;
}

.price-controls .max-price {
    margin-left: 35px;
}

.filter-option {
    position: relative;
    
    padding-left: 40px;
}

/*Чекбокс для цвета*/

.filter-color label:before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 0;
    
    width: 27px;
    height: 23px;
    
    background: url("../img/checkbox-off.svg") 0 0 no-repeat;
}

/*Выбранный чекбокс для цвета*/

.filter-input-checkbox:checked + label:before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

/*Нажатие на выбранный чекбокса для цвета*/

.filter-input-checkbox:not(:disabled):active + label:before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
    transform: rotate(45deg);
}

/*Чекбокс для Bluetooth*/

.filter-bluetooth label:before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 0;
    
    width: 25px;
    height: 25px;
    
    border: 4px solid #000000;
    border-radius: 50%;
}

/*Выбранный чекбокс для Bluetooth*/

.filter-input-radio:checked + label:after {
    content: "";
    
    position: absolute;
    top: 15px;
    left: 8px;
    
    width: 9px;
    height: 9px;
    
    background-color: #000000;
    border-radius: 50%;
}

/*Наведение на чекбокс*/

.filter-option label:hover:before,
.filter-option label:hover:after {
    opacity: 0.6;
}

/*Чекбокс в фокусе*/

.filter-input:focus + label:before,
.filter-input:focus + label:after {
    opacity: 0.6;
}

/*Блокированный чекбокс*/

.filter-input:disabled + label,
.filter-input:disabled + label:before,
.filter-input:disabled + label:after {
    opacity: 0.25;
}

.btn-filter {
    width: 200px;
}

.price-controls input {
    width: 50px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 22.27px;
    font-weight: 300;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.catalog-filters h2,
.sorting h2,
.pagination-list {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-category,
.filters-form input[type="submit"],
.basket-button {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
}

.sorting {
    position: absolute;
    width: 100%;
    min-height: 70px;
    margin: 0;
    top: 0;
    padding-left: 400px;
    display: flex;
    align-self: center;
    background-color: rgba(0,0,0, 0.08);
    z-index: 1;
}

.sorting h2 {
    width: 160px;
    margin: 0;
    margin-right: 40px;
    line-height: 70px;
}

.sorting-item {
    display: flex;
    padding: 0;
}

.sorting-item li {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    list-style: none;
    line-height: 40px;
    margin-right: 20px;
}

.sort-option-rates {
    margin: 0;
    padding: 0;
    padding-top: 28px;
    margin-left: auto;
}

.sort-option-rate a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.3;
    text-decoration: none;
    cursor: pointer;
}

.sort-option-rate:hover,
.sort-option-rate:focus {
    opacity: 0.6;
} 

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
    opacity: 0.5;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
    opacity: 0.8;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    background-color: #ffffff;
    border: 2px solid #f0c52e;
    opacity: 1;
}

.catalog {
    width: 760px;
    margin-top: 125px;
    margin-left: 72px;
    min-height: 980px;
}

.catalog-columns {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.catalog-list li {
    width: 360px;
}

.catalog-item {
    position: relative;
}

.catalog-item-link {
    display: flex;
    justify-content: space-between;
}

.catalog-category {
    width: 260px;
}

.basket {
    width: 360px;
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(238,238,238, 0.7);
}

.catalog-item:hover .basket {
    display: flex;
}

.basket button {
    width: 200px;
    border: none;
    opacity: 0.7;
    background-color:  rgba(238,238,238, 0.7);
    text-transform: uppercase;
}

.basket a {
    margin-top: 180px;
    margin-bottom: 25px;
    z-index: 0;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 300;
}

.compare-button {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
} 

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;    
    margin-top: 40px;
    height: 70px;
}

.pagination-list .pagination-item-forth {
    padding-right: 30px;
}

.pagination-list .pagination-item-back {
    padding-left: 30px;
}

.pagination-item a {
    display: block;
    padding: 25px 10px;
    opacity: 0.3;
}

.pagination-item-current a,
.pagination-item-forth a, 
.pagination-item-back a {
    opacity: 1;
}

.pagination-item-forth:hover,
.pagination-item-back:hover,
.pagination-item-forth:focus,
.pagination-item-back:focus {
    background-color: rgba(0,0,0, 0.08);
    z-index: 1;
}

.pagination-list .pagination-item:first-child {
    margin-right: 230px;
}

.pagination-list .pagination-item:last-child {
    margin-left: 230px;
}

.main-header-logo:hover,
.user-navigation li:hover,
.buy-navigation a:hover,
.site-navigation a:hover,
.catalog-wrapper:hover,
.pagination-item a:hover,
.site-navigation-footer a:hover,
.user-navigation-footer a:hover,
.buy-navigation-footer a:hover,
.main-footer-logo:hover,
.sorting-item li:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
    opacity: 0.6;
}

.button:focus,
.main-header-logo:focus,
.user-navigation li:focus,
.buy-navigation a:focus,
.site-navigation a:focus,
.pagination-item a:focus,
.site-navigation-footer a:focus,
.catalog-wrapper:focus,
.user-navigation-footer a:focus,
.buy-navigation-footer a:focus,
.main-footer-logo:focus,
.sorting-item li {
    opacity: 0.3;
}

.catalog-wrapper {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-social-item a {
    opacity: 0.3;
}

.footer-social-item a:hover,
.sorting-item li:focus {
    opacity: 1;
}

.footer-social-item a:focus {
    opacity: 0.1;
}
 
.footer-link:hover path {
    fill: #ffc600;
}

.modal {
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.modal-letter {
    display: none;
    
    width: 960px;
    height: 555px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -290px;
    padding: 100px;
    padding-bottom: 90px;
}

.modal-letter .contact-form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form div {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 360px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 15px;
    border: none;
}

.contact-form input[type="text"] {
    margin-right: 40px;
}

.contact-form input[type="submit"] {
    margin-bottom: 85px;
}

.contact-form div:last-of-type {
    width: 756px;
}

.contact-form textarea {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    border: none;
}

.modal-close {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 25px;
    right: 22px;
    font-size: 0;
    background-color: #f7e296;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 31px;
    top: 48%;
    left: 24%;
    height: 3px;
    background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
    display: none;
    top: 50%;
    left: 50%;  
    width: 960px;
    height: 559px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -290px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
}

.device-btn {
    position: relative;
    display: inline-block;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
    font-size: 18px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
}
  
.device-btn:active {
    color: rgba(0, 0, 0, 0.3);
}
  
.device-btn::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #f0c52e;
    transition: all 0.2s ease-in-out;
}

.device-btn:hover::before {
    top: 0;
    height: 100%;
}

.modal-show {
    display: block;
    
    animation: bounce 0.6s;
}
  
.modal-error {
    animation: shake 0.6s;
}
  
@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}
  
@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}

.modal-map div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  
    margin: 0;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
  
    border: none;
}

.modal-map .modal-close {
    z-index: 3;
}