@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('Gilroy-ExtraBold.eot');
    src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ExtraBold.woff') format('woff'),
    url('Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    margin:0 auto; 
    padding: 0;
    width: 1200px; 
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    position: relative;   
 } 

 .main-header-logo {
    width: 164px;
    height: 36px;
    align-self: flex-start;
    display: block;
    position: absolute;
    top: -20px;
    left: 80px;
}

.user-navigation-wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 40px;
    margin-top: -10px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    min-height: 70px;
}

.search {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0; 
    margin-top: 50px;
    padding-left: 40px;  
    width: 300px;
}

.search form {
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.search button {
    display: none;
}

.search-form:focus button {
    display: block;
}

.search form::before {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 0;
    
    width: 18px;
    height: 18px;
    
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search input[type="search"] {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    padding: 0;
    background-color: #f7e296;
    border: none;
    width: 200px;
}

.login-link::before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 0px;
    
    width: 18px;
    height: 18px;
    
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.compare-link,
.basket-link {
    position: relative;
    padding-left: 25px;
}

.compare-link::before {
    content: "";
    
    position: absolute;
    top: 5px;
    left: 5px;
    
    width: 18px;
    height: 18px;
    
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-link::before {
    content: "";
    
    position: absolute;
    top: 5px;
    left: 5px;
    
    width: 18px;
    height: 18px;
    
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-navigation,
.main-navigation-index {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    color: #000000;  
    background-color: #f7e296;
}

.main-navigation-index {
    min-height: 300px;
}

.main-navigation {
    min-height: 185px;
}
  
.buy-navigation,
.user-navigation,
.site-navigation-catalog {
    list-style: none;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-left: 240px; 
    margin-top: 50px;
    width: 230px;
}

.buy-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    margin-left: 60px;
    min-width: 220px;
    padding: 0; 
    margin-top: 50px;
}

.site-navigation a,
.user-navigation a,
.site-navigation-catalog a,
.buy-navigation a {
    color: #000000;
}

.site-navigation {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;

    margin: 0;
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
    width: 1040px;
    display: flex;
    justify-content: flex-start; 
    position: relative;
}

.site-navigation>li:first-child {
    width: 250px;
    z-index: 101;
}

.site-navigation>li:first-child:focus {
    outline: thin dotted; 
    outline: 5px auto -webkit-focus-ring-color;
}

.site-navigation>li:first-child::after {
    content: "";
    
    position: absolute;
    top: 4px;
    left: 184px;
    width: 2px;
    height: 12px;
    
    background-color: #b8a974;
}

.site-navigation>li:first-child::before {
    content: "";
    
    position: absolute;
    top: 9px;
    left: 179px;
    width: 12px;
    height: 2px;
    
    background-color: #b8a974;
}

.site-navigation>li:nth-child(2) {
    margin-left: 290px;
    width: 121px;
}

.site-navigation>li:nth-child(3) {
    margin-left: 38px;
    width: 109px;
}

.site-navigation>li:last-child {
    margin-left:auto;
    width: 120px;
    text-align: end;
}

.buy-navigation,
.user-navigation,
.site-navigation-catalog {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    list-style: none;
}

.site-navigation-catalog {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    top: 25px;
    left: -60px;
    position: absolute;
    height: 160px;
    width: 1100px;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    z-index: 101;
    background-color: #f7e296;
}

.site-navigation-catalog li {
    margin-left: 0;
    margin-bottom: 5px;
    margin-right: 40px;
    width: 200px
}

.site-navigation-catalog>li:first-child,
.site-navigation-catalog>li:nth-child(4),
.site-navigation-catalog>li:last-child {
    margin-top: 20px;
}

.site-navigation-catalog>li:nth-child(4),
.site-navigation-catalog>li:nth-child(5) {
    width: 160px;
}

.site-navigation:hover .site-navigation-catalog,
.site-navigation:focus .site-navigation-catalog {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;

    width: 1160px;
    margin: o;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.container a {
    color: #000000;
}

.features-slider {
    position: relative;
    margin-top: -85px;
    margin-bottom: 105px;
}

.slider-controls {
    position: absolute;
    right: 10px;
    bottom: 170px;
    z-index: 100;
    width: 160px;
    height: 12px;
    text-align: center;
    font-size: 70px;
    transform: translateX(-30%);
}

.slider-controls i {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #000000; 
    cursor: pointer;
    
}

.slider-controls i::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 12px;
    height: 12px;
    
    background: #ffffff;
    
    border-radius: 50%;
}

.slider-controls .active::before {
    content: "";
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    
    width: 8px;
    height: 8px;
    margin: -6px;
    
    background-color: inherit;
    border: 2px solid #000000;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;    
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: 60px; 
}

.slider-column1 {
    min-width: 440px;
    margin-left: 85px;
}

.slider-item:nth-child(3) .slider-column1 {
    min-width: 440px;
    margin-left: 30px;
}

.slider-column2 {
    width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

.slider-column2 p:first-of-type {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -10px;
    color: #ffffff;
    z-index: 0;
}

.slider-column2 p:nth-of-type(2) {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 55px;
    padding-right: 120px;
    z-index: 10;
}

.slider-column2 p:nth-of-type(3) {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

.slider-column2 p:nth-of-type(2)::after {

    content: "";
    
    position: absolute;
    top: 10px;
    left: 0px;
    
    width: 100px;
    height: 10px;
    
    background-color: #ffffff;
}

.slider-item:nth-child(3) .slider-column2 p:nth-of-type(2) {
    margin: 0;
    padding: 0;
    width: 500px;
    margin-top: 55px;
    padding-right: 0;
    z-index: 10;
}

.slider-column2 a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    text-transform: uppercase; 
    margin: 0;
    padding: 0;
    width: 220px;
    text-align: center;
}

.slider-column2 .data {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    width: 430px;
    text-align: left;
}

.data-description {
    font-size: 13px;
    line-height: 20px;
}

.data-property {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 300;    
}

.main-catalog-wrapper {
    display: flex;
    width: 1160px;
}

.main-catalog,
.service-choise {
    list-style: none;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;  
}

.main-catalog {
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
    width: 1160px;
    display: flex;
    justify-content: space-between;
}

.main-catalog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
}

.main-catalog li {
    width: 160px;
}

.main-catalog img {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
}

.main-catalog img:hover {
    background-color: #f0c52e;
}

.main-catalog a:focus {
    background-color: #f0c52e;
    opacity: 0.3;
}

.service,
.logos,
.index-columns,
.footer-container {
    margin: 0;
    padding: 0;
    display: flex;
}

.service {
    margin-bottom: 95px;
    min-height: 390px;
    background-color: #e5e5e5;
}

.service-choise  {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    min-height: 320px;
    text-transform: uppercase;   
}

.service-choise li {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    text-align: left;
    width: inherit;
}

.service-choise li:first-child {
    margin-top: 80px;
    position: relative;
}

.service-choise li:first-child::before {
    content: "";
    
    position: absolute;
    top: -95px;
    left: 275px;
    
    width: 7px;
    height: 320px;
    
    background-color: #000000;
}

.service-choise a {
    display: block;
    width: 160px;
    padding-left: 20px;
    line-height: 35px;
}

.service-choise a:focus {
    width: 260px;
    background-color: #000000;
    color: #f7e296;
}

.service-choise a,
.button-write,
.contact-fotm-submit {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f0c52e;
}

.service h2,
.info h2,
.contact h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 700;  
}

.service-slider-item {
    margin: 0;
    padding: 0;
    margin-left: 120px;
    width: 760px;
    display: none;
}

.service-slider-item:nth-child(3) {
    display: block;
}

.delivery,
.warranty,
.credit {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 760px;
}

.delivery h2,
.warranty h2,
.credit h2 {
    margin: 0;
    padding: 0;
    margin-top: 50px;
} 

.delivery p,
.warranty p,
.credit p {
    width: 460px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.delivery img,
.warranty img,
.credit img {
    position: absolute;
    right: 75px;
    top: 70px;
}

.logos {
    margin-top: 94px;
    /* margin-bottom: 82px; */
    font-size: 0;
    margin-bottom: 90px;
    justify-content: space-around;
}

.logos a {
    width: 260px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.logos a:nth-of-type(1) {
    padding-left: 0;
}
  
.logos a:nth-of-type(4) {
    padding-right: 0;
}
  
.logos img {
    opacity: 0.2;
}
  
.logos img:hover {
    opacity: 1;
    height: 100px;
    width: 0;
    padding-left: 260px;
}
  
.dji img:hover {
    background-image: url("../img/logo-1.jpg");
}
  
.sp-gadgets img:hover {
    background-image: url("../img/logo-2.jpg");
}
  
.gopro img:hover {
    background-image: url("../img/logo-3.jpg");
}
  
.vive img:hover {
    background-image: url("../img/logo-4.jpg");
}

.index-columns {
    justify-content: space-between;
    margin-bottom: 95px;
}

.info,
.contact {
    display: flex;
    flex-direction: column;
    min-height: 570px;
}

.info {
    width: 480px;
}

.info a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase; 
}

.info p:first-of-type {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.info p:last-of-type {
    margin: 0;
    padding: 0;
}

.info .logistics {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    list-style: none;
}

.logistics {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700; 
}

.logistics-item {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 35px;
}

.logistics-item::before {
    content: "";
    
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 2;
    
    width: 8px;
    height: 8px;
    margin: -6px;
    
    background-color: inherit;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.info .info-button {
    margin: 0;
    padding: 0;
    margin-top: auto;
    width: 260px;
}

.contact {
    width: 560px;
}

.info h2,
.contact h2 {
    position: relative;
    margin: 0;
    margin-bottom: 0;
    margin-top: 40px;
    padding: 0;
}

.info h2::after,
.contact h2::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 80px;
    height: 10px;
    background-color: #000000;
}

.contact p {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 35px;
}

.contact a {
    width: 260px;
    margin: 0;
    padding: 0;
}

.contact-form{
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.contact img {
    margin-bottom: 80px;
}

.contact .button-write {
    width: 260px;
}

.main-footer {
    width: 1200px;
    background-color: #464646;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-top: 80px;
    padding: 0;
    width: 1160px;
    min-height: 325px;
}

.footer-user {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}

.main-footer-logo {
    margin-right: auto;
}

.site-navigation-footer,
.user-navigation-footer,
.site-navigation-footer,
.buy-navigation-footer,
.footer-social-item,
.breadcrumbs,
.catalog-item,
.pagination-item {
    list-style: none;
}

.site-navigation-footer a,
.user-navigation-footer a,
.site-navigation-footer a,
.buy-navigation-footer a,
.footer-social-item a {
    color: #ffffff;
}

.user-navigation-footer img,
.buy-navigation-footer img {
    color: #ffc600;
}

.site-navigation-footer {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.buy-navigation-footer,
.user-navigation-footer {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
}

.user-navigation-footer {
    margin: 0;
    padding-left: 10px;
    margin-top: 10px;
    width: 60px;
}

.buy-navigation-footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
}

.footer-conditions {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 45px;
}

.site-navigation-footer {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    width: 430px;
    padding-right: 5px;
}

.footer-conditions p {
    margin: 0;
    padding: 0;
}

.footer-conditions p:first-of-type {
    margin-right: 160px;
}

.footer-conditions p:last-of-type {
    margin-left: auto;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 0;
    padding: 0;
    margin-top: 65px;
}

.footer-social-item{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0;
    padding: 0;
    width: 160px;
    line-height: 15px;
}

.footer-social-item::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: -500px;
    width: 80px;
    height: 10px;
    background-color: #f0c52e;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    margin-left: 1130px;
    margin-top: -35px;
    width: 30px;
}

.footer-conditions,
.footer-social {
    color: #ffffff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.filters,
.sorting,
.pagination-list,
.basket {
    background-color: #f2f2f2;
}

.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 56.4px;
    font-weight: 700; 
    margin: 0;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 60px;
    padding: 0;
    min-height: 42px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-bottom: 20px;    
    list-style: none;
    font-size: 14px;
    line-height: 36px;    
    min-height: 24px;
}

.breadcrumbs li {
    position: relative;
    margin-right: 42px;
    opacity: 0.3;
}

.breadcrumbs li::after {
    
    content: "";
    position: absolute;
    top: 16px;
    right: -23px;
    width: 5px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #b8a974;
}

.breadcrumbs li::before {    
    content: "";
    position: absolute;
    top: 18px;
    right: -23px;
    width: 5px;
    transform: rotate(-45deg);
    height: 2px;
    background-color: #b8a974;
}

.breadcrumbs-current::after,
.breadcrumbs-current::before {
    display: none;
}

.filter-wrapper {
    background-color: #f2f2f2;
}

.filter-item {
    padding: 0;
    border: none;
    width: 270px;
    margin: 10px auto;
    margin-bottom: 40px;
}

.filter-item input[type="radio"] {
    margin-bottom: 15px;
}  
  
.filter-item legend {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 200px;
    border-top: 2px solid #000000;
}

.range-filter {
    width: 270px;
}
  
.range-controls {
    position: relative;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-right: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.range-controls .scale {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 60%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 0;
}
  
.range-controls .toggle-max {
    left: 110px;
}
  
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 30%;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 22.27px;
    font-weight: 300;
}
  
.price-controls input {
    width: 50px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 22.27px;
    font-weight: 300;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}

.filters h2,
.sorting h2,
.pagination-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    text-transform: uppercase;
}

.filters h3,
.catalog-category,
.filters-form input[type="submit"],
.basket-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
}

.filters {
    margin: 0;
    padding: 0;
    width: 350px;
    min-height: 800px;     
}

.filters h2 {
    margin: 0;
    margin-left: 65px;
    height: 70px;
    line-height: 70px;
}

.filters-form {
    margin: 0;
    margin-left: 50px;
    margin-top: 70px;
}

.filters-form fieldset:last-of-type {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.filter-legend {
    margin-bottom: 25px;
}

.filters-form input[type="submit"] {
    border: none;
    margin-top: 30px;
    width: 100%;
    background-color: #f0c52e;
}

.filters-form input[type="checkbox"],
.filters-form input[type="radio"] {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    margin-right: 20px;
}

.sorting {
    position: absolute;
    width: 760px;
    min-height: 70px;
    margin: 0;
    padding-left: 400px;
    display: flex;
    align-self: center;
    background-color: rgba(0,0,0, 0.08);
    z-index: 1;
}

.sorting h2 {
    width: 160px;
    margin: 0;
    margin-right: 40px;
    line-height: 70px;
}

.sorting-item {
    display: flex;
    padding: 0;
}

.sorting-item li {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    list-style: none;
    line-height: 40px;
    margin-right: 20px;
}

.sort-option-rates {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    margin-left: auto;
}

.sort-option-rate a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.3;
    text-decoration: none;
    cursor: pointer;
}

.sort-option-rate:hover,
.sort-option-rate:focus {
    opacity: 0.6;
} 

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-transform: none;
    opacity: 0.5;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
    opacity: 0.8;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    background-color: #ffffff;
    border: 2px solid #f0c52e;
    opacity: 1;
}

.catalog {
    width: 760px;
    margin-top: 140px;
    margin-left: 50px;
    min-height: 980px;
}

.catalog-columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.catalog-list li {
    width: 360px;
}

.catalog-item {
    position: relative;
}

.catalog-item-link {
    display: flex;
    justify-content: space-between;
}

.catalog-category {
    width: 260px;
}

.basket {
    width: 360px;
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(238,238,238, 0.7);
}

.catalog-item:hover .basket {
    display: flex;
}

.basket button {
    width: 200px;
    border: none;
    opacity: 0.7;
    background-color:  rgba(238,238,238, 0.7);
    text-transform: uppercase;
}

.basket a {
    margin-top: 180px;
    margin-bottom: 25px;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 300;
}

.compare-button {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
} 

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    height: 70px;
}

.pagination-item a {
    display: block;
    padding: 25px 10px;
}

.pagination-list .pagination-item:first-child {
    margin-right: 230px;
}

.pagination-list .pagination-item:last-child {
    margin-left: 230px;
}

.main-header-logo:hover,
.user-navigation li:hover,
.buy-navigation a:hover,
.site-navigation a:hover,
.catalog-wrapper:hover,
.pagination-item a:hover,
.site-navigation-footer a:hover,
.user-navigation-footer a:hover,
.buy-navigation-footer a:hover,
.main-footer-logo:hover,
.sorting-item li:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover {
    opacity: 0.6;
}

.button:focus,
.main-header-logo:focus,
.user-navigation li:focus,
.buy-navigation a:focus,
.site-navigation a:focus,
.pagination-item a:focus,
.site-navigation-footer a:focus,
.catalog-wrapper:focus,
.user-navigation-footer a:focus,
.buy-navigation-footer a:focus,
.main-footer-logo:focus,
.sorting-item li {
    opacity: 0.3;
}

.catalog-wrapper {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-social-item a {
    opacity: 0.3;
}

.footer-social-item a:hover,
.sorting-item li:focus {
    opacity: 1;
}

.footer-social-item a:focus {
    opacity: 0.1;
}
 
.footer-link:hover path {
    fill: #ffc600;
}

.modal {
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.modal-letter {
    display: none;
    
    width: 760px;
    height: 365px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -290px;
    padding: 100px;
    padding-bottom: 90px;
}

.modal-letter .contact-form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form div {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 340px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 15px;
    border: none;
}

.contact-form input[type="text"] {
    margin-right: 40px;
}

.contact-form input[type="submit"] {
    margin-bottom: 85px;
}

.contact-form div:last-of-type {
    width: 756px;
}

.contact-form textarea {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    border: none;
}

.modal-close {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 25px;
    right: 22px;
    font-size: 0;
    background-color: #f7e296;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 31px;
    top: 50%;
    left: 25%;
    height: 3px;
    background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
    display: none;
    top: 50%;
    left: 50%;  
    width: 960px;
    height: 559px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -290px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    
}

.device-btn {
    position: relative;
    display: inline-block;
    padding-top: 9px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
    font-size: 18px;
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
}
  
.device-btn:active {
    color: rgba(0, 0, 0, 0.3);
}
  
.device-btn::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #f0c52e;
    transition: all 0.2s ease-in-out;
}

.device-btn:hover::before {
    top: 0;
    height: 100%;
}